<h1>Lista de proyectos</h1>

<table id="t_proyectos">
  <thead>
    <tr>
      <th>Proyecto</th>
      <th>Comitente</th>
      <th>Fecha del proyecto</th>
      <th>Ubicacion</th>
      <th>Expediente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.proyecto %></td>
        <td><%= proyecto.comitente %></td>
        <td class="proy_t_cent"><%= proyecto.fproyecto %></td>
        <td><%= proyecto.ubicacion %></td>
        <td class="proy_t_cent"><%= proyecto.expediente %></td>
        <td class="proy_t_cent"><%= link_to 'Show', proyecto %></td>
        <td class="proy_t_cent"><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
        <td class="proy_t_cent"><%= link_to 'Destroy', proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Proyecto', new_proyecto_path %>
