<p id="notice"><%= notice %></p>

<p>
  <strong>Proyecto:</strong>
  <%= @proyecto.proyecto %>
</p>

<p>
  <strong>Descripción del proyecto:</strong>
  <%= @proyecto.desc %>
</p>

<p>
  <strong>Comitente:</strong>
  <%= @proyecto.comitente %>
</p>

<p>
  <strong>Email:</strong>
  <%= @proyecto.email %>
</p>

<p>
  <strong>Constructor:</strong>
  <%= @proyecto.constructor %>
</p>

<p>
  <strong>Proyectista:</strong>
  <%= @proyecto.proyectista %>
</p>

<p>
  <strong>Fecha del proyecto:</strong>
  <%= @proyecto.fproyecto %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @proyecto.ubicacion %>
</p>

<p>
  <strong>Expediente:</strong>
  <%= @proyecto.expediente %>
</p>

<div id='proymaslk'>
  <strong>Mostrar mas</strong>
</div>
<div id='proyminlk'>
  <strong>Mostrar menos</strong>
</div>

<div id="proymas">
  <p>
    <strong>Cond energía:</strong>
    <%= @proyecto.cond_e.nombre %>
  </p>

  <p>
    <strong>Conductor de guardia:</strong>
    <%= @proyecto.cond_g.nombre %>
  </p>

  <p>
    <strong>Zona:</strong>
    <%= @proyecto.zona.nombre %>
  </p>

  <p>
    <strong>Tipo constructivo:</strong>
    <%= @proyecto.tconstr_id %>
  </p>

  <p>
    <strong>Altura libre [m]:</strong>
    <%= @proyecto.hlibre %>
  </p>

  <p>
    <strong>Vano máximo [m]:</strong>
    <%= @proyecto.vanomax %>
  </p>

  <p>
    <strong>Dist máx entre retensiones [m]:</strong>
    <%= @proyecto.dretmax %>
  </p>
</div>

<%= link_to 'Editar', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Volver', proyectos_path %> |
<%= link_to 'Piquetes Especiales', puntos_path %>

<script type="text/javascript">
  $(document).ready(function(){
    
    $("#proymas").hide();
    $("#proymaslk").show();
    $("#proyminlk").hide();

    $("#proymaslk").click(function(){
      $("#proymas").show();
      $("#proyminlk").show();
      $("#proymaslk").hide();
    });

    $("#proyminlk").click(function(){
      $("#proymas").hide();
      $("#proyminlk").hide();
      $("#proymaslk").show();
    });
  });
</script>
