<p id="notice"><%= notice %></p>

<p>
  <strong>Proyecto:</strong>
  <%= @proyecto.proyecto %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @proyecto.desc %>
</p>

<p>
  <strong>Comitente:</strong>
  <%= @proyecto.comitente %>
</p>

<p>
  <strong>Constructor:</strong>
  <%= @proyecto.constructor %>
</p>

<p>
  <strong>Proyectista:</strong>
  <%= @proyecto.proyectista %>
</p>

<p>
  <strong>Fproyecto:</strong>
  <%= @proyecto.fproyecto %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @proyecto.ubicacion %>
</p>

<p>
  <strong>Expediente:</strong>
  <%= @proyecto.expediente %>
</p>

<p>
  <strong>Cond e:</strong>
  <%= @proyecto.cond_e_id %>
</p>

<p>
  <strong>Cond g:</strong>
  <%= @proyecto.cond_g_id %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @proyecto.zona_id %>
</p>

<p>
  <strong>Tconstr:</strong>
  <%= @proyecto.tconstr_id %>
</p>

<p>
  <strong>Hlibre:</strong>
  <%= @proyecto.hlibre %>
</p>

<p>
  <strong>Vanomax:</strong>
  <%= @proyecto.vanomax %>
</p>

<p>
  <strong>Dretmax:</strong>
  <%= @proyecto.dretmax %>
</p>

<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>
