<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<h1>Piquetes especiales en la traza</h1>

<div id="contenedor-puntos">
  <div id="tablapuntos">
    <table>
      <thead>
        <tr>
          <th>Secuencia</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Distancia</th>
          <th>Angulo</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @puntos.each do |punto| %>
          <tr>
            <td><%= punto.secuencia %></td>
            <td><%= punto.latitud %></td>
            <td><%= punto.longitud %></td>
            <td><%= punto.distancia %></td>
            <td><%= punto.angulo %></td>
            <td><%= link_to 'Show', punto %></td>
            <td><%= link_to 'Edit', edit_punto_path(punto) %></td>
            <td><%= link_to 'Destroy', punto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <div id="map-canvas"></div>
</div>
<%= link_to 'New Punto', new_punto_path %>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script>
  var map;
  
  function initialize() {
    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(-33.30, -66.33),
      mapTypeId: google.maps.MapTypeId.HYBRID
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>