<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @conductor.nombre %>
</p>

<p>
  <strong>Diametro:</strong>
  <%= @conductor.diametro %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @conductor.seccion %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @conductor.peso %>
</p>

<p>
  <strong>Rmec:</strong>
  <%= @conductor.rmec %>
</p>

<p>
  <strong>Coef e:</strong>
  <%= @conductor.coef_e %>
</p>

<p>
  <strong>Coef t:</strong>
  <%= @conductor.coef_t %>
</p>

<p>
  <strong>Imax:</strong>
  <%= @conductor.imax %>
</p>

<p>
  <strong>Relec:</strong>
  <%= @conductor.relec %>
</p>

<p>
  <strong>Tmax:</strong>
  <%= @conductor.tmax %>
</p>

<p>
  <strong>Tmed:</strong>
  <%= @conductor.tmed %>
</p>

<%= link_to 'Edit', edit_conductor_path(@conductor) %> |
<%= link_to 'Back', conductors_path %>
