<h1>Lista de usuarios</h1>

<table>
  <thead>
    <tr>
      <th class="thclass">Nombre</th>
      <th class="thclass">Tipo de Usuario</th>
      <th class="thclass">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="tdclass"><%= user.name %></td>
        <td class="tdclass"><%= user.email %></td>
        <td class="tdclass"><%= user.Usertype %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path %>
