<!DOCTYPE html>
<html>
<head>
  <title>Proyelec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="navbar">
		<div id="logobar" >
			Gestión de Proyectos
		</div>
		<div id="mainmenu">
			<ul>
				<li><%= link_to "PROYECTOS", proyectos_url %></li>
				<li><%= link_to "PUNTOS", puntos_url %></li>
				<li><%= link_to "PIQUETES" %></li>
				<li><%= link_to "VANOS" %></li>
				<li><%= link_to "C M CONDS" %></li>
			</ul>
		</div>
		<div id="usermenu">
			<ul>
				<li><%= link_to "USUARIOS" %></li>
				<li><%= link_to "SETTINGS" %></li>
			</ul>
		</div>
		<div id="loggedbar" >
			<% if session[:user_id] %>
				<%= link_to session[:user_email], logout_path, :method=>:delete %>
			<% else %>
				<%= 'Usr Not Logged' %>
			<% end %>
		</div>
	</div>

	<div id="main">
		<%= yield %>
	</div>

	<table id="endbar">
		<td><%= image_tag('CGSlogo.png', size:'72x32') %></td>
		<td>Compañía General de Servicios SRL</td>
		<td><%= image_tag('home.png', size:'32x32') %></td>
		<td>Los Zorzales 620 <br/> Juana Koslay - San Luis</td>
		<td><%= image_tag('mail.png', size:'32x32') %></td>
		<td>Ing Gustavo Falavigna: <%= mail_to('gfalav@hotmail.com') %> <br/> Joaquín Pina: <%= mail_to('pinajoa@yahoo.com') %></td>
		<td><%= image_tag('contact.png', size:'32x32') %></td>
		<td>G Falavigna: 0266 (15) 4512644 <br/> J Pina: 0266 (15) 4512645</td>
	</table>

</body>
</html>
